{% extends 'base.html.twig' %}

{% block title %}{{ 'login.title' |trans }}{% endblock %}

{% block body %}
    <div class="lang-dropdown">
        <button class="lang-trigger">
            <img
                src="https://flagcdn.com/{{ app.request.locale == 'en' ? 'gb' : app.request.locale }}.svg"
                alt="{{ app.request.locale }}"
            />
            <span class="arrow">▾</span>
        </button>

        <div class="lang-menu">
            <a href="{{ path('app_login', {_locale: 'en'}) }}">
                <img src="https://flagcdn.com/gb.svg" alt="English">
                English
            </a>

            <a href="{{ path('app_login', {_locale: 'de'}) }}">
                <img src="https://flagcdn.com/de.svg" alt="German">
                Deutsch
            </a>
        </div>
    </div>

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                {{ 'logged.in.as' |trans }}  {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{ 'logout' |trans }}</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">{{ 'login.please' |trans }}</h1>
        <label for="username">{{ 'login.email' |trans }}</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
        <label for="password">{{ 'login.password' |trans }}</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>
        #}

        <button class="btn btn-lg btn-primary" type="submit">
            {{ 'login.sign.in' |trans }}
        </button>
    </form>
{% endblock %}
