{% extends 'paperplane/baseplane.html.twig' %}
{% block body %}

    <h1>Spielübersicht</h1>

    <div class="game-list">
        {% for game in games %}
            <div class="game-card" onclick="location.href='{{ path('app_paper_plane_tournament', { count: loop.index }) }}';">
                <h2><a href="{{ path('app_paper_plane_tournament', { count: loop.index }) }}">{{ game.getName() }}</a></h2>
                <p><strong>Modell:</strong> {{ game.getPaperPlaneModel() }}</p>
                <p><strong>Distanz:</strong> {{ game.getDistance()|number_format(2, ',', '.') }} m</p>
                <p><strong>Dauer:</strong> {{ game.getDuration()|number_format(2, ',', '.') }} s</p>
                <p><strong>Datum:</strong> {{ game.getDate()|date("d.m.Y") }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
